.vs
*.vcxproj
*.vcxproj.filters
*.zip
*.so
3rdparty/
CMakeFiles/
QYHSEngine.sln
cmake_install.cmake
CMakeCache.txt
engine/3rdparty/
*.dir/
engine/source/editor/QyhsEditor.dir/
engine/source/runtime/x64/Debug/
*.pdb
*.ilk
*.tlog
engine/source/editor/QyhsEditor.dir/Debug/QyhsEditor.ilk
engine/source/editor/QyhsEditor.dir/
engine/source/editor/Debug/QyhsEditor.pdb
engine/source/meta_parser/QyhsParser.dir/Debug/QyhsParser.ilk
bin/QyhsEditor.pdb
bin/
x64/
engine/source/editor/Debug/
engine/source/runtime/Debug/