{{#include_headfiles}}
#include "{{headfile_name}}"
{{/include_headfiles}}

namespace qyhs
{
	namespace Reflection
	{
		void TypeMetaRegister::Register()
		{
			{{#class_defines}}TypeWrapperRegister_{{class_name}}();
			{{/class_defines}}
		}
	}
}